.main-box{
  //margin-top: 500px;
  height: 500px;
  //width: 100%;
  background-color: white;
  //float: left;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  //margin-bottom: 35px;
}
.wrapper {
  width: 930px;
  //height: 200px;
  margin: 0 auto;
  //padding: 0 15px;
  border: 1px solid black;
  align-items: center;
}
.container{
  height: 100%;
  position: relative;
  border: 1px solid black;
}
.white-box-info-1,
.white-box-info-2,
.white-box-info-3{
  background-color: #fff;
  width: 218px;
  height: 180px;
  float: left;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  margin-bottom: 20px;
}
.main-wrapper{
  margin-bottom: 50px;
}
.info-text{
  text-align: center;
}
.white-box-info-1,
.white-box-info-2,
.white-box-info-4 {
  margin-right: 16px;
}
.info-text:hover{
  color: #125699;
  //color: rgb(205,163,152);
  //font-weight: bold;
  //background: linear-gradient(90deg, rgba(205,163,152,1) 0%, rgba(205,163,152,1) 50%, rgba(205,163,152,1) 100%);
  //font-weight: 900;
  cursor: context-menu;
}
.first-line{
  display: flex;
  justify-content: space-between;
}
