<!--<p>projects works!</p>-->
<app-home-page></app-home-page>
<div class="wrapper main-wrapper container main-box main-box-projects">
  <div style="border: 1px solid black; background-color: #faf7f5;">
    <!--    <div class="container" style="background-color: #faf7f5;">-->
    <div class="first-line f-l-projects">
      <div class="white-box-projects-1">
        <a href="https://github.com/julkaa/Final.HTML-SCC" title="HTML-SCC" target="_blank" rel="noopener" >
          <div class="logo-header"><span class="pingbuller">PINGBULL<span class="purple">ER</span></span></div>
        </a>
      </div>
      <div class="white-box-projects-2">
        <a href="https://github.com/julkaa/Final.HTML-SCC" title="Angular-NodeJS" target="_blank" rel="noopener" >

          <div class="logo-header"><span style="color: black">Hello</span></div>
        </a>
      </div>

      <div class="white-box-projects-3"></div>
    </div>
    <div class="second-line second-line-projects">
      <div class="white-box-projects-4"></div>
      <div class="white-box-projects-5"></div>
      <div class="white-box-projects-6"></div>
    </div>
  </div>
</div>
<!--</div>-->
<app-footer></app-footer>
