<!--<p>projects works!</p>-->
<div class="wrapper">
  <div class="main-box">
    <div class="container">
      <div class="white-box-education-1">
        <i>2018-now</i>
        <p>Bachelor‘s degree <br>
          Electronics and computer technology <br>
          Ivan Franko National University of Lviv</p>
      </div>
      <div class="white-box-education-2">
        <i>2019-2020</i>
        <p>English course of Upper-intermediate <br>
          GreenForest</p>
      </div>
      <div class="white-box-education-3">
        <i>2020</i>
        <p>Web developer course <br>
          Logos IT Academy</p>
      </div>
    </div>
  </div>
</div>
