<!--<p>projects works!</p>-->
<app-home-page></app-home-page>
<div class="wrapper main-wrapper">
  <div class="main-box">
    <div class="container">
      <div class="first-line">
      <div class="white-box-projects-1">
        <a href="https://github.com/julkaa/Final.HTML-SCC" title="HTML-SCC" target="_blank" rel="noopener">
          <img src="assets/project-1.png" alt="project-1">
        </a>
      </div>
      <div class="white-box-projects-2">
<!--        <i>2019-2020</i>-->
<!--        <p>English course of Upper-intermediate <br>-->
<!--          GreenForest</p>-->
      </div>
      <div class="white-box-projects-3">
<!--        <i>2020</i>-->
<!--        <p>Web developer course <br>-->
<!--          Logos IT Academy</p>-->
      </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
