<!--<p>skills works!</p>-->
<app-home-page></app-home-page>
<div class="wrapper main-wrapper">
  <div class="main-box">
    <div class="container">
      <div class="first-line">
      <div class="skill">
        <p class="skill-text"><b>Frontend</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>HTML5, CSS, SCSS, Bootsrap4</li>
          <li>Javascript, ES6, jQuery, OOP, Angular 4+, Typescript</li>
        </ul>

      </div>
      <div class="skill">
        <p class="skill-text"><b>SQL</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>MySQL</li>
          <li>SQL</li>
        </ul>

      </div>
      <div class="skill">
        <p class="skill-text"><b>Backend</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Basic NodeJS</li>
        </ul>

      </div>
      </div>
      <div class="skill">
        <p class="skill-text"><b>Tools</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Photoshop</li>
          <li>Git</li>
          <li>Github</li>
        </ul>
      </div>
      <div class="skill">
        <p class="skill-text"><b>Language skills</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Ukraine - Native</li>
          <li>English - Upper-intermediate</li>
          <li>Russian - Fluent</li>
        </ul>
      </div>
    </div>
  </div>
</div>
