.main-box{
  //margin-top: 500px;
  height: 500px;
  //width: 100%;
  background-color: white;
  //float: left;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  //margin-bottom: 35px;
}
.wrapper {
  width: 930px;
  //height: 200px;
  margin: 0 auto;
  //padding: 0 15px;
  border: 1px solid black;
  align-items: center;
}
.container{
  height: 100%;
  position: relative;
  border: 1px solid black;
}
.skill{
  //margin-right: 10px;
  //background-color: #fff;
  //width: 218px;
  //height: 180px;
  //float: left;
  //-webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  //-moz-box-shadow: 0 0 10px 0 #e7e7e7;
  //box-shadow: 0 0 10px 0 #e7e7e7;
  //padding: 15px;


  background-color: #fff;
  width: 218px;
  height: 180px;
  float: left;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  margin-bottom: 20px;
}

.margined{
  margin-right: 16px;
}

.skill-text:hover {
  //transition: 1s ease-in-out;
  //color:rgb(205,163,152);
  color: #125699;
  //color: rgb(205,163,152);
  //font-weight: bold;
  //background: linear-gradient(90deg, rgba(205,163,152,1) 0%, rgba(205,163,152,1) 50%, rgba(205,163,152,1) 100%);
  //font-weight: 900;
  cursor: context-menu;
}
.main-wrapper{
  margin-bottom: 50px;
}
.skill-text{
  text-align: center;
}

