<!--<p>skills works!</p>-->
<div class="wrapper">
  <div class="main-box">
    <div class="container">
      <div class="skill">
        <p id="skill-text" style="text-align: center">Frontend</p>
        <ul  type="none" style="margin-left: -20px">
          <li>HTML5, CSS, SCSS, Bootsrap 4</li>
          <li>Javascript, ES6, jQuery, OOP, Angular 4+, Typescript</li>
        </ul>

      </div>
      <div class="skill">
        <p id="skill-text" style="text-align: center">SQL</p>
        <ul  type="none" style="margin-left: -20px">
          <li>MySQL</li>
          <li>SQL</li>
        </ul>

      </div>
      <div class="skill">
        <p id="skill-text" style="text-align: center">Backend</p>
        <ul  type="none" style="margin-left: -20px">
          <li>Basic NodeJS</li>
        </ul>

      </div>
      <div class="skill">
        <p id="skill-text" style="text-align: center">Git</p>
        <ul  type="none" style="margin-left: -20px">
          <li>Basic commands</li>
        </ul>
      </div>
      <div class="skill">
        <p id="skill-text" style="text-align: center">Language skills</p>
        <ul  type="none" style="margin-left: -20px">
          <li>Ukraine - Native</li>
          <li>English - Upper-intermediate</li>
          <li>Russian - Fluently</li>
        </ul>
      </div>
    </div>
  </div>
</div>
