.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 100%;
  //display: flex;
  //align-items: center;
  //justify-items: center;
  background: rgb(205,163,152);
  background: linear-gradient(90deg, rgba(205,163,152,1) 0%, rgba(205,163,152,1) 50%, rgba(205,163,152,1) 100%);
  font-weight: 600;
  font-size: large;
  //padding-left: 70px;
  //justify-content: space-between;
  //margin-right: 100px;
}
.wrapper {
  max-width: 930px;
  //height: 200px;
  margin: 0 auto;
  //padding: 0 15px;
  border: 1px solid black;
  align-items: center;
}
.header{
  color: white;
  height: 100px;
  width: 100%;
  margin-top: 70px;
  padding: 0 15px;
}
.top-box{
  //margin-top: 30px;
  height: 322px;
  width: 100%;
  background-color: white;
  float: left;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
}
.top-box img{
  float: left;
}
.bio-box{
  float: left;
  width: 600px;
  height: 100%;
  border: 1px solid black;
  //float: right;
}
.lighter-text{
  font-weight: lighter;
}
ul {
  list-style: none;
}
.bio-box a {
  text-decoration: none;
  color: #333;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  margin-left: 25px;
  margin-top: 16px;
}
.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}
.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.main-box{
  //margin-top: 500px;
  height: 500px;
  //width: 100%;
  background-color: white;
  //float: left;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  margin-bottom: 35px;
}
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.condiv
{
  width: 60%;
  height: 90%;
  position: absolute;
  top: 4%;
  left: 28%;
  border-radius: 30px;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
}
.main-wrapper{
  margin-bottom: 50px;
}
//.switch {
//  position: relative;
//  display: inline-block;
//  width: 60px;
//  height: 34px;
//}
//
///* Hide default HTML checkbox */
//.switch input {
//  opacity: 0;
//  width: 0;
//  height: 0;
//}
//
///* The slider */
//.slider {
//  position: absolute;
//  cursor: pointer;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #ccc;
//  -webkit-transition: .4s;
//  transition: .4s;
//  //float: right;
//}
//
//.slider:before {
//  position: absolute;
//  content: "";
//  height: 26px;
//  width: 26px;
//  left: 4px;
//  bottom: 4px;
//  background-color: white;
//  -webkit-transition: .4s;
//  transition: .4s;
//}
//
//input:checked + .slider {
//  background-color: #2196F3;
//}
//
//input:focus + .slider {
//  box-shadow: 0 0 1px #2196F3;
//}
//
//input:checked + .slider:before {
//  -webkit-transform: translateX(26px);
//  -ms-transform: translateX(26px);
//  transform: translateX(26px);
//}
//
///* Rounded sliders */
//.slider.round {
//  border-radius: 34px;
//}
//
//.slider.round:before {
//  border-radius: 50%;
//}
//.night-mode{
//  //float: right;
//  width: 150px;
//  height: 100px;
//  margin-left: 1100px;
//  margin-top: -100px;
//  //border: 1px solid black;
//}
//.night-mode-span{
//  float: left;
//  margin-top: 15px;
//  margin-bottom: 10px;
//}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 170px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  color: black;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

//svg#rocket {
//  width: 80px;
//  position: absolute;
//  left: -10px;
//  top: -24px;
//}
//
//svg#rocket-smoke {
//  height: calc(100vh - 95px);
//  position: absolute;
//  top: 10px;
//  right: 180px;
//  z-index: -10;
//}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #125699;
  //color: rgb(205,163,152);
  //font-weight: bold
}
.container{
  height: 100%;
  position: relative;
  border: 1px solid black;
}
//.skill p{
//  transition: 3s ease-in-out;
//}
//.skill p:hover {
//  color: white;
//  font-weight: 500;
//  cursor: context-menu;
//}
