/* You can add global styles to this file, and also import other style files */
body{
  background-color: #faf7f5;
  font-family: 'Space Grotesk', sans-serif;
}
.dark-mode {
  //background-color: black;
  color: white;
  background-color: #09161c;



}
.dark-mode-toolbar{
  //background: rgb(62,50,47);
  //background: linear-gradient(90deg, rgba(62,50,47,1) 0%, rgba(61,49,46,1) 50%, rgba(52,42,39,1) 100%);
  background: rgb(6,15,19);
  background: linear-gradient(90deg, rgba(6,15,19,1) 0%, rgba(17,40,51,1) 50%, rgba(6,15,19,1) 100%);
color: blue;

}
.pull-right{
  transform:translateX(calc(100% - 2px));
}
.dark-mode-bio {
  //background-color: black;
  color: white;
  background-color: #182533;



}


