/* You can add global styles to this file, and also import other style files */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  padding: 20px;
  min-height: 100%;
  background-color: #faf7f5;
  font-family: 'Space Grotesk', sans-serif;
}
.dark-mode {
  //background-color: black;
  color: white;
  background-color: #09161c;



}
.dark-mode-toolbar{
  //background: rgb(62,50,47);
  //background: linear-gradient(90deg, rgba(62,50,47,1) 0%, rgba(61,49,46,1) 50%, rgba(52,42,39,1) 100%);
  background: rgb(6,15,19);
  background: linear-gradient(90deg, rgba(6,15,19,1) 0%, rgba(17,40,51,1) 50%, rgba(6,15,19,1) 100%);
color: blue;

}
.pull-right{
  transform:translateX(calc(100% - 2px));
}
.dark-mode-bio {
  //background-color: black;
  color: white;
  background-color: #182533;



}
@media only screen and (max-width: 930px) {


  .top-box,
  .card-container
  //.main-box
  {

    //min-width: 480px;
  }
  .card{
    max-height: 40px;
  }
.wrapper,
header
{
  width: 96%;
  //display: none;
  margin: auto;

}


}
@media only screen and (max-width: 745px) {
  .card-container{
    margin-top: 100px;
  }
  .image-box {width: 100%}
  .image-box img {
    align-items: center;
    display: table;
    margin: 0 auto;
    max-width: 345px;
  }
  .bio-box{
    background-color: white;
    width: 100%;
  }
.card-container{
  padding-top: 320px;
}
  .white-box-education-1,
  .white-box-education-2,
  .white-box-education-3,
  .white-box-education-4{
    min-width: 203px;
  }

  .first-line{
    //min-width: 649px;
    clear-side: both;
  }
}
@media only screen and (max-width: 405px) {
  .white-box-education-1{
    width: 100%;
  }
  .first-line{
    //display: table-column;
  max-width: 100%;
  }

  .header
  //,.header h3
  {
    min-height: 120px;
  }
  .lighter-text{
    font-size: 17px;
  }
  .bio-box ul{
    padding-left: 20px;
  }
  .card-container{
    padding-top: 340px;
  }
}
//@media only screen and (max-width: 800px) {
//  .image-box {width: 100%}
//  .image-box img {
//    display: table;
//    margin: 0 auto;
//    max-width: 345px;
//  }
//}

